*{
    padding: 0;
    margin: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,0.7)), url('/images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav_links{
    /* border: 2px solid red; */
    flex: 1;
    text-align: right;
    transition: 1s;
}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav_links ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Fredoka', sans-serif;
}
.nav_links ul li a::after{
    content: "";
    /* border: 2px solid red; */
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: all 0.2s;

}
.nav_links ul li a:hover::after{
   
    width: 100%;
    
}

.textbox{
    width: 90%;
    height: 90vh;
    color: #fff;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color:  white;
    text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textbox h1{
    font-size: 62px;

}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;

}
.hero_btn{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero_btn:hover{
    background: rgb(75, 195, 75);
    border: 1px solid #dbf091;
    transition: 0.5s;
    border-radius: 2px;

}
nav .fa{
    display: none;
}

@media (max-width: 700px){
    .textbox h1{

        font-size: 20px;
    }
    body{
        height: 100%;
    }
    .nav_links ul li{
        display: block;
        /* border: 2px solid black; */
    }
    .nav_links{
        position: absolute;
        background: #e1382f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }

    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_links ul{
        padding: 30px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course_col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;

}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;

}

.course_col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media (max-width: 700px)
{
    .row{
        flex-direction: column;
    }
}


.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.campus_col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus_col img{
    width: 100%;
    display: block;
    /* border: 2px solid blue; */

}

.layer{
    /* background: rgba(226,0,0,0.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.layer:hover{
   background: rgba(226,0,0,0.7);
    transition: 0.5s;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
    /* transition: bottom 2s; */
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    transition: 1s;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

    
}

.facilities_col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    /* display: flex; */
    align-items: center;
}



.facilities_col img{
 width: 100%;                              /*   this is need to understand that how the images came at perfect size   */
    border-radius: 10px;
}

.facilities_col p{
    padding: 0;


}
.facilities_col h3{
    margin-top: 16px;
    text-align: center;
}


/* what our student says */

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.test_col{
    flex-basis: 42%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    display: flex;
    cursor: pointer;
}

.test_col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.test_col p{
    padding: 0;

}
.test_col h3{
    margin-top: 15px;
}
.test_col .fa{
    color: #f44336;
}

@media(max-width: 700px){
    .test_col img{
        margin-left: 0;
        margin-right: 15px;

    }
    
.testimonials{

    padding-top: 10px;
    
}
.facilities{
    padding-top: 10px;
}
}

.cta{
    margin: 1px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url('/images/banner2.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 120px 0;

}
.cta_h{
    margin-bottom: 70px;
    color: white;
}
.cta a{
   margin-top: 30px;
}

@media (max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4{
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}

.icons .fa{
color: #f44336;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;

}


.sub_header{
height: 50vh;
width: 100%;
background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('/images/background.jpg');

background-position: center;
background-position: cover;
/* border: 2px solid red; */
text-align: center;
color: white;
}


/* About us content  */

.sub_header h1{
    margin-top: 50px;
}
.about_us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about_col{
    flex-basis: 48%;
    padding: 30px 2px;

}

.about_us img{
    width: 100%;
}